.container-recipe {
  color: #08C;
  text-decoration: none;
  background-color: #EBEBEB;
  padding: 8px 35px 8px 14px;
  margin-bottom: 18px;
  border: 1px solid #fbeed5;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

.container-users {
  color: #08C;
  text-decoration: none;
  background-color: #EBEBEB;
  padding: 8px 35px 8px 14px;
  margin-bottom: 18px;
  border: 1px solid #fbeed5;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}