.container-recipe {
  color: #08C;
  text-decoration: none;
  background-color: #EBEBEB;
  padding: 8px 35px 8px 14px;
  margin-bottom: 18px;
  border: 1px solid #fbeed5;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

.container-users {
  color: #08C;
  text-decoration: none;
  background-color: #EBEBEB;
  padding: 8px 35px 8px 14px;
  margin-bottom: 18px;
  border: 1px solid #fbeed5;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

.bold {
	font-weight: bold;
}

.user-information{
	background-color: #F0F0F0;
	padding: 8px 35px 8px 14px;
	margin-bottom:15px;
	font-size:14px;
}