.container-header {
	background-color: #E03C4C;
	color: #FFFFFF;
}

.container-row {
	background-color: #FFFFFF;
	color: #08C;
}

.container {
	position: relative; 
	padding: 8px 35px 8px 14px;
	margin-bottom: 18px;
	border: 3px solid #ffffff; 
	-webkit-border-radius: 10px; 
	-moz-border-radius: 10px; 
	-o-border-radius: 10px; 
	border-radius: 10px; 
	box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.5), 
	inset 0px 0px 5px 0px rgba(0, 0, 0, 0.5); 
	-moz-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.5), 
	inset 0px 0px 5px 0px rgba(0, 0, 0, 0.5); 
	-webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.5), 
	inset 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
}

.bold {
	font-weight: bold;
}

.user-tab{
	font-weight: bold;
	font-size:14px;
}

.user-information{
	background-color: #F0F0F0;
	padding: 8px 35px 8px 14px;
	margin-bottom:15px;
	font-size:14px;
}

.recipePre{
    background-color: #ffffff;
    border: none;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
}

#show-recipe .span4{
    margin-left: 0px;
}